@import "tailwindcss";

:root {
  --color-primary: #2563EB;
  --color-secondary: #0F766E;
  --color-accent: #99F6E4;

  --color-background: #F8FAFC;
  --color-sidebar: #1E293B;
  --color-card: #FFFFFF;

  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --color-text: #0F172A;
  --color-text-secondary: #64748B;
  --color-text-muted: #94A3B8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}